#include "resource.h"

IDI_APP_ICON ICON "assets/sprites/icon/Icon.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEOS 0x4L
FILETYPE 0x1L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Your Name\0"
      VALUE "FileDescription", "Chicken Game\0"
      VALUE "FileVersion", "1.0.0\0"
      VALUE "ProductName", "Chicken\0"
      VALUE "ProductVersion", "1.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END